body {
    font-family: dollie script;
    background-color: white;
    align-content: center;
    color: white;
}
.main-container {
    /* Draw a double border make it hot pink*/
    border-style: double;
    border-width: 10px;
    border-color: hotpink;
    /* Add space between the border and its inside elements. */
    padding: 40px;
    /* Color the background barbie pink. */
    background: #e0218a;
    width: 90%;
    margin: auto;
}